<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="develoment">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <!--JDBC使用jdbcTransactionFactory生成的jdbcTransaction对象实现
            MANAGED使用ManagedTransactionFactory生成的ManagedTransaction对象实现-->
            <dataSource type=""></dataSource>
        </environment>

    </environments>
</configuration>